.img-pw {
    cursor: pointer;
}

.productos {
    display: flex;
    gap: 20px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: var(--padding-container);
    padding-right: var(--padding-container);
}

.productos__sidebar {
    width: 300px;
    padding: 20px;
}

.productos__sidebar h2 {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #555;
}

.productos__sidebar-filtro h4 {
    margin-bottom: 10px;
    color: #444;
}

.sidebar__categorias {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar__categorias li {
    margin-bottom: 10px;
}

.sidebar__categorias {
    .button {
        background: #ffffff;
        border-radius: 5px;
        border: 1px solid #ddd;
        padding: 10px 15px;
        color: #555;
        cursor: pointer;
        text-align: left;
        width: 100%;
        transition: all 0.3s ease;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .button:hover {
        border-color: var(--primary-c700);
    }
}

.subcategorias {
    list-style: none;
    padding-left: 20px;
    margin: 10px 0;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s ease, opacity 0.3s ease;
    opacity: 0;
}

.subcategorias:not([hidden]) {
    max-height: 200px;
    opacity: 1;
}

.subcategoria-item {
    margin-bottom: 5px;
}

.subcategory-button {
    margin-bottom: 5px;
    font-size: 14px;
    background-color: transparent;
    position: relative;
}

.subcategory-button::before {
    content: "";
    height: 100%;
    width: 2px;
    background-color: red;
    left: -10px;
    position: absolute;
    opacity: 0;
}

.subcategory-button:hover::before {
    opacity: 1;
    transition: opacity 0.6s ease;
}

.subcategory-button.active {
    border-color: var(--primary-c700);
}

.subcategory-button.active::before {
    opacity: 1;
}


/* Arrow Rotation Animation */
.material-symbols-outlined.dropdown {
    font-size: 1.5rem;
    transition: transform 0.3s ease;
}

.material-symbols-outlined.dropdown.rotate {
    transform: rotate(180deg);
}

.price-filter {
    margin-top: 20px;
}

.price-filter h4 {
    margin-bottom: 10px;
    color: #444;
}

.price-filter-options {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.price-filter-button,
.price-filter-button-sign {
    background: #ffffff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    color: #555;
    cursor: pointer;
    text-align: center;
    transition: all 0.3s ease;
}

.price-filter-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}


.price-filter-button:hover,
.price-filter-button-sign:hover {
    background: var(--primary-c700);
    color: #fff;
    border-color: var(--primary-c700);
}

.price-filter-button.active,
.price-filter-button-sign.active {
    background: var(--primary-c700);
    color: #fff;
    border-color: var(--primary-c700);
}

.price-filter-buttons-wrapper {
    display: flex;
}

.price-filter-button-sign {
    flex: 1;
    width: 100%;
}

.active-filters {
    margin-top: 1rem;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.active-filters h4 {
    margin-bottom: 0.5rem;
    font-weight: bold;
}

#active-filters-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

#active-filters-list li {
    display: inline-block;
    background: var(--primary-c500);
    color: #fff;
    padding: .5rem;
    margin: 0.2rem;
    border-radius: 4px;
    cursor: pointer;
    font-size: var(--p-font-size);
    font-weight: var(--font-weight-bold);
}

/* Sección principal */
.productos__contenido {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.productos__sidebar-filtro h4 {
    margin-bottom: 10px;
    color: #444;
}

.productos__sidebar-filtro input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

/* Grid de productos */
.productos__imagenes {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.productos__imagen {
    padding: 5px;
    overflow: hidden;
    transition: box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.productos__imagen img {
    object-fit: cover;
    aspect-ratio: 1/1;
}

/* Detalles del producto */
.producto__detalles {
    padding: 5px;
    display: flex;
    flex-direction: column;
}

.producto__nombre {
    font-weight: bold;
    color: #333;
    margin: 10px 0;
}

.producto__precio {
    color: var(--primary-c700);
    margin: 5px 0 15px;
}

.producto__carrito {
    width: 100%;
    background: transparent;
    border: 1px solid rgb(61, 61, 61);
    padding: 10px 20px;
    text-transform: uppercase;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.2s ease;

    font-size: 1.4rem;
}

.producto__carrito:hover {
    background: var(--primary-c700);
    border-color: white;
    color: white;
}

.pagination {
    margin-top: auto;
}

#prev-btn {
    margin-right: 5px;
}

#next-btn {
    margin-left: 5px;
}

.pagination-btn {
    padding: 8px 12px;
    background-color: var(--primary-c500);
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.pagination-btn:disabled {
    background-color: #d6d6d6;
    cursor: not-allowed;
}

.pagination-btn:hover:not(:disabled) {
    background-color: var(--primary-c700);
}

.pagination-number {
    padding: 8px 12px;
    background-color: #f1f1f1;
    color: #333;
    border: 1px solid #ddd;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.pagination-number {
    margin-right: 5px;
    margin-left: 5px;
}

.pagination-number:hover {
    background-color: var(--primary-c500);
    color: #fff;
    border-color: var(--primary-c500);
}

.pagination-number.active {
    background-color: var(--primary-c500);
    color: #fff;
    border-color: var(--primary-c500);
}


@media screen and (max-width: 1200px) {
    .productos__imagen {
        min-width: min(150px, 100%);
    }
}

@media screen and (max-width: 760px) {
    .productos__contenido {
        align-items: center;
    }

    .productos__buscador {
        --max-width-buscador: 100%;
    }

    .productos__filtros-icono {
        display: block;
    }

    .productos__sidebar {
        display: none;
    }
}

@media screen and (max-width: 380px) {
    .productos__imagenes {
        gap: 5px;
    }

    .productos__imagen {
        min-width: min(100px, 100%);
        height: 150px;
    }
}